
body{
  background-color: rgb(140, 85, 0);
  background-image: url("../images/bullitt_background.jpg");
  background-repeat: repeat-x;
  margin: 20px;
  padding: 50px;
}

/*.content {
   width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;*/
  /*margin: 80%*/
  /*border:100px;200px*/
  /*float: right;*/
  /*text-align: center;*/
  /*display: inline-block;*/
/*}*/

.page {
  margin: 90px auto 0;
  width: 880px;
}

.content {
  float: right;
}

.main {
   background-color: rgb(140, 85, 0);
   border-color: rgb(140, 85, 0);
  float: middle;
  display: inline-block;
  margin: 200px;
  /*background: url("../images/ford_mustang-bullitt_little.jpg");*/
  background-repeat: no-repeat;
  min-height: 204px;
  padding: 150px;
  width: 424px;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.carSound {
   background-color:  rgb(140, 85, 0);
  font-family: 'PT Sans Narrow', sans-serif;
}


.carSound {
    position: relative;
    display: inline;
    top: 50%;
}
