
body{
  background-color: rgb(140, 85, 0);
  background-image: url("../images/bullitt_background.jpg");
  background-repeat: repeat-x;
}

/*.content {
   width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;*/
  /*margin: 80%*/
  /*border:100px;200px*/
  /*float: right;*/
  /*text-align: center;*/
  /*display: inline-block;*/
/*}*/

.page {
  margin: 90px auto 0;
  width: 880px;
}

.content {
  float: right;
}

.main {
  float: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/frame.png") no-repeat;
  background-color: grey;
  min-height: 204px;
  padding: 40px;
  width: 424px;
}
/*
.greeting {
    position: absolute;
    top: 50%;
}*/

#/*rev { 
  position: absolute;
    top: 50%;
}*/